/* Navbar Styles */
nav {
    height: 60px;
    border-style: solid;
    display: flex;
}

.branding {
    display: flex;
    align-items: center;
    width: 42%;
    padding: 8px 16px;
    justify-content: space-between;
}

.logo img {
    width: 100px;
}

.branding .icons {
    cursor: pointer;
    display: flex;
}

.icons img {
    width: 20px;
    margin: 0 8px;
}

.menu-option {
    font-family: "NeuePlakBold";
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 9%;
    padding: 8px;
    border-left: 2px solid #2C2C2C; /* 2px solid black border on the left side */
}

.menu-option:hover {
    background-color: #2C2C2C;
    color: #FAF4E4;
}

.menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid #2C2C2C;
    width: 4%;
    cursor: pointer;
}

.menu-icon img {
    height: 30px;
}

a {
    all: unset;
}

/* Menu Styles */
#menu {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform-origin: top right;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
    z-index: 1;
    font-family: "NeuePlakBold";
}

#menu a {
    color: #FAF4E4;
    text-decoration: none;
    font-size: 24px;
    margin: 20px;
    transition: color 0.3s ease-in-out;
}

#menu.show {
    transform: scale(1);
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
    .menu-option {
        display: none;
    }

    .menu-icon {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .branding {
        width: 100%;
        border-bottom: 2px solid #2C2C2C;
    }

    .icons,
    .menu-option{
        display: none;
    }

    .menu-icon  {
        display: flex;
        width: 100%;
        border-left: none;
        border-bottom: 2px solid #2C2C2C;
    }
}
