@font-face {
    font-family: "Downey";
    src: url("./fonts/Downey.otf");
}

@font-face {
    font-family: "NeuePlakBold";
    src: url("./fonts/NeuePlakBold.otf");
}

@font-face {
    font-family: "NeuePlak";
    src: url("./fonts/NeuePlak.otf");
}

@font-face {
    font-family: "Qanoar";
    src: url("./fonts/Qanoar.otf");
}